*{
  padding: 0;
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100vh;
  grid-template-areas: "one two three four"
                       "one thirteen thirteen five"
                       "eleven thirteen thirteen six"
                       "ten nine eight six";
}
.one {
  grid-area: one;
  background-image: url('/oneimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.two {
  grid-area: two;
  background-image: url('/twoimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.three {
  grid-area: three;
  background-image: url('/threeimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.four {
  grid-area: four;
  background-image: url('/fourimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.five {
  grid-area: five;
  background-image: url('/fiveimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.six {
  grid-area: six;
  background-image: url('/siximg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.eight {
  grid-area: eight;
  background-image: url('/eightimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.nine {
  grid-area: nine;
  background-image: url('/nineimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.ten {
  grid-area: ten;
  background-image: url('/tenimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.eleven {
  grid-area: eleven;
  background-image: url('/elevenimg.jpg');
  background-size: cover;
  filter: gray;
      -webkit-filter: grayscale(1);
      transition: all .8s ease-in-out;
    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
    }
}
.thirteen {
  grid-area: thirteen;
  background-image: url('/card.png');
  background-size: cover;
}